@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.font-intro {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}


.first-image  {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
