@import "tailwindcss";

:root {
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: #f7f7f7;
  overflow-x: hidden;
  scroll-behavior: auto !important;
  font-family: "Poppins", sans-serif;
}
