@import "tailwindcss";

:root {
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: scroll;
}
